<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button  pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>
           
            <p-table  #dt  [value]="products"   [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['titre','prix','categorie','quantite']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Affichage de {first} à {last} de {totalRecords} entrées" [(selection)]="selectedProducts" selectionMode="multiple" [rowHover]="true" dataKey="id">
             
                  
                 
                <ng-template pTemplate="caption">
                    <div     class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Manage Products</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template> 
              
                <ng-template   pTemplate="header">
                    <tr  >
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="id">Code <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="titre">Titre <p-sortIcon field="titre"></p-sortIcon></th>
                        <th pSortableColumn="marque">Marque <p-sortIcon field="marque"></p-sortIcon></th>
                        <th>Image</th>
                        <th pSortableColumn="prix">Prix <p-sortIcon field="prix"></p-sortIcon></th>
                        <th pSortableColumn="categorie">categorie <p-sortIcon field="categorie"></p-sortIcon></th>
                        <th *ngIf="productService.getrole()=='user'" pSortableColumn="etat">Etat <p-sortIcon field="etat"></p-sortIcon></th>
                        <th pSortableColumn="rating">Reviews <p-sortIcon field="rating"></p-sortIcon></th>
                        <th pSortableColumn="quantite">Quantite <p-sortIcon field="quantite"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
          
             <ng-template     pTemplate="body" let-product  >
                    <tr  >
                        <td>
                            <p-tableCheckbox [value]="product"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Code</span>
                            {{product.code || product.id}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Titre</span>
                            {{product.titre}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Marque</span>
                            {{product.marque}}
                        </td>
                        <td style="width:14%; min-width:10rem; " ><span class="p-column-title" >Image</span>
                            <ng-container *ngFor="let img of product.images ">
                            <img loading="lazy" *ngIf="img.principale==1"  [src]="'data:image/png;base64,'+img.path" [alt]="product.nom" width="100" class="shadow-4" />
                            </ng-container>
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Prix</span>
                            {{product.prix | currency:'D'}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Category</span>
                            {{product.categorie.nom}}
                        </td>
                        <td *ngIf="productService.getrole()=='admin'" style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Etat</span>
                            {{product.etat}}
                        </td>
                        <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Status</span>
                            <span *ngIf="product.quantite>=50" [class]="'product-badge status-instock'">{{product.quantite}}</span>
                            <span *ngIf="product.quantite<50 && product.quantite>0" [class]="'product-badge status-lowstock'">{{product.quantite}}</span>
                        </td>
                        <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Reviews</span>
                            <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
                        </td>
                       
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(product)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(product)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template  pTemplate="emptymessage" let-columns >
                    <tr *ngIf="this.filtervalue==0">
                        <td [attr.colspan]="columns.length">
                            <h5>No products found</h5>
                        </td>
                    </tr>
                    <tr *ngIf="loading ">
                        <td  colspan="9" style="text-align: center;">
                            <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
                        </td>
                    </tr>
                </ng-template>
              
                
            </p-table>

        </div>

       
 
      <!--   <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="product">Are you sure you want to delete <b>{{product.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>
 -->
        <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected products?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
```